* {
    margin: 0;
    padding: 0;
}

header {
    height: 4rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

header span {
    margin: 0rem 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main h1 {
    margin: 5rem;
}
main p {
    margin: 1rem;
}

header i {
    visibility: hidden;
}